//==========reset==========//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
//==========var==========//
$Textcolor-black: #1e1e1e;
$Textcolor-gray: #a0a0a0;
$Textcolor-white: #fffefa;
$backgroundcolor-blue: #83a2c1;
$backgroundcolor-lightgreen: #f7f7ef;
$backgroundcolor-light: #fafaf6;
$Color-stroke: #e0ded9;
$Color-lightgray: #f6f6f6;
$Color-orange: #fc6408;

//==========font==========//
@import url("https://fonts.cdnfonts.com/css/futura-pt");
//font-family: 'Futura PT', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
//font-family: "Playfair Display", serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
//font-family: "Noto Sans KR", sans-serif;

h1 {
  font: normal 36px/1 "Playfair Display";
  @media screen and (max-width: 768px) {
    font-size: 56px;
  }
}
h2 {
  font: normal 28px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}
h3 {
  font: normal 18px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 2.5rem;
  }
}
h4 {
  font: normal 14px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 33px;
    line-height: 2.5rem;
  }
}
h5 {
  font: normal 11px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

//==========common==========//

body {
  background: $backgroundcolor-light;
}

#header {
  width: 100%;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #header_popup {
    width: 100%;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $backgroundcolor-blue;
    color: #fff;
    img {
      width: 18px;
      height: 18px;
      &:nth-child(1) {
        opacity: 0;
      }
      &:last-child {
        filter: invert(1);
      }
    }
  }
  #header_contents {
    width: 75%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    button {
      border: none;
      background: none;
    }
    .header_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        width: 28px;
        height: 1px;
        background: $Textcolor-black;
        &:nth-child(2) {
          margin: 8px 0;
        }
      }
    }
    .header_right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 28px;
        height: 28px;
        margin: 0 5px;
        object-fit: cover;
      }
      .header_menu_mobile {
        margin-left: 10px;
        display: none;
      }
    }
    .header_logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 768px) {
    #header_popup {
      height: 20px;
      font-size: 20px;
      padding: 20px;
    }
    #header_contents {
      width: 100%;
      min-width: 390px;
      height: 70px;
      border: 1px solid red;
      padding: 20px;
      .header_menu {
        display: none;
      }
      .header_logo {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: 64px;
        height: 64px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .header_right {
        img {
          width: 40px;
          height: 40px;
          margin-left: 10px;
        }
        .header_menu_mobile {
          display: block;
          margin-left: 15px;
          div {
            height: 2px;
          }
        }
      }
    }
  }
}

#gnb {
  width: 100%;
  background: $backgroundcolor-lightgreen;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    justify-content: space-between;
  }
  .gnb_container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $Color-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    li {
      font: normal 28px/1 "Playfair Display";
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      justify-content: space-between;
    }
    .gnb_container {
      gap: 50px;
      height: 80px;
      justify-content: center;
      padding: 0 20px;
      &:nth-child(2) {
        height: auto;
        padding: 20px 40px;
        text-wrap: wrap;
      }
    }
  }
}

#menu {
  width: 100%;
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fcfcf2;
  #footer_slide {
    position: absolute;
    .footer_slide_img {
      display: flex;
      height: 200px;
      animation: footerslide 120s linear infinite;
    }
    @keyframes footerslide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  #footer_cont {
    text-align: center;
    margin-top: 200px;
    #footer_left {
      float: left;
      width: 50%;
      overflow: hidden;
      padding: 150px 0 150px;
      border-right: 1px solid #e0ded9;
      h2 {
        font: normal 18px/1 "Futura PT";
      }
      .footer_left_cont {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font: normal 13px/1.3 "Futura PT";
          &:first-child {
            margin-top: 24px;
          }
          &:last-child {
            margin-top: 38px;
            font: normal 11px/1 "Futura PT";
          }
        }
      }
    }
    #footer_right {
      display: flex;
      flex-direction: row;
      float: right;
      width: 50%;
      .footer_right_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        padding: 150px 0 150px;
        h2 {
          font: normal 18px/1 "Futura PT";
          margin-bottom: 18px;
        }
        span {
          font: normal 14px/1.3 "Futura PT";
        }
        .footer_right_cont_icon {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          margin-top: 34px;
          i,
          img {
            width: 28px;
            height: 28px;
            line-height: 1.6rem;
          }
          i {
            scale: 2;
          }
        }
      }
      .footer_right_cont:nth-child(2) {
        padding-left: 20px;
        span {
          font: normal 14px/1.3 "Noto Sans KR";
        }
      }
      .footer_right_cont:nth-child(3) {
        p {
          font: normal 14px/1.3 "Futura PT";
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    #footer_cont {
      #footer_left {
        padding: 100px 0 100px;
        h2 {
          font: normal 16px/1 "Futura PT";
        }
        .footer_left_cont {
          span {
            font: normal 10px/1.3 "Futura PT";
            &:first-child {
            }
            &:last-child {
              font: normal 8px/1 "Futura PT";
            }
          }
        }
      }
      #footer_right {
        .footer_right_cont {
          padding: 100px 0 100px;
          h2 {
            font: normal 16px/1 "Futura PT";
          }
          span {
            font: normal 10px/1.3 "Futura PT";
          }
          .footer_right_cont_icon {
            i,
            img {
              line-height: 1.7rem;
            }
            i {
              scale: 2;
            }
          }
        }
        .footer_right_cont:nth-child(2) {
          span {
            font: normal 10px/1.3 "Noto Sans KR";
          }
        }
        .footer_right_cont:nth-child(3) {
          p {
            font: normal 10px/1.3 "Futura PT";
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    #footer_cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      #footer_left {
        width: 100%;
        overflow: hidden;
        padding: 50px 0 50px;
        border-bottom: 1px solid #e0ded9;
        h2 {
          font: normal 18px/1 "Futura PT";
        }
        .footer_left_cont {
          span {
            font: normal 13px/1.3 "Futura PT";
            &:last-child {
              display: none;
            }
          }
        }
      }
      #footer_right {
        display: flex;
        flex-direction: column;
        width: 100%;
        .footer_right_cont {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 50px 0 50px;
          border-bottom: 1px solid #e0ded9;
          h2 {
            font: normal 18px/1 "Futura PT";
          }
          span {
            font: normal 14px/1.3 "Futura PT";
          }
          .footer_right_cont_icon {
            i,
            img {
              line-height: 1.6rem;
            }
          }
        }
        .footer_right_cont:nth-child(2) {
          span {
            font: normal 14px/1.3 "Noto Sans KR";
          }
        }
        .footer_right_cont:nth-child(3) {
          p {
            font: normal 14px/1.3 "Futura PT";
            &:last-child {
              display: block;
              margin-top: 76px;
              font: normal 11px/1 "Futura PT";
            }
          }
        }
      }
    }
  }
}
