@import "../common.scss";

//==========PC==========//
.wrap {
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  #cart_container {
    width: 75%;
    /* border: 1px solid red; */
    margin: 40px auto 0;
    #carttap {
      ul {
        width: 100%;
        height: 40px;
        display: flex;
        border: 1px solid #e0ded9;
        border-bottom-color: #1e1e1e;
        background: #f7f7ef;
        li {
          padding: 10px 50px;
          font: normal 14px/1.4 "Noto Sans KR";
          border-right: 1px solid #e0ded9;
          &:nth-child(1) {
            color: #a0a0a0;
          }
          &:nth-child(2) {
            background: #fafaf6;
            border: 1px solid #1e1e1e;
            border-bottom-color: #fff;
            margin: 0 0 -2px;
          }
        }
      }
    }

    #cartcont {
      p {
        margin: 40px;
        text-align: center;
        font: bold 14px/1.4 "Noto Sans KR";
      }
    }

    #cartbtn {
      position: relative;
      display: flex;

      padding: 10px 0 40px;
      margin-bottom: 100px;
      .cartbtn_center {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
      }
      .cartbtn_right {
        position: absolute;
        right: 0;
      }
    }
  }
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  .wrap {
    #cart_container {
      width: 100%;
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  .wrap {
    min-width: 390px;
    #cart_container {
      width: 100%;
      margin: 40px auto 0;
      #carttap {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 50%;
            text-align: center;
            padding: 10px 50px;
            font: normal 14px/1.4 "Noto Sans KR";
            border-right: 1px solid #e0ded9;
            &:nth-child(1) {
              color: #a0a0a0;
            }
            &:nth-child(2) {
              background: #fafaf6;
              border: 1px solid #1e1e1e;
              border-bottom-color: #fff;
              margin: 0 0 -2px;
            }
          }
        }
      }

      #cartcont {
        p {
          margin: 40px 0 100px;
          text-align: center;
          font: bold 14px/1.4 "Noto Sans KR";
        }
      }

      #cartbtn {
        display: none;
      }
    }
  }
}
