@import "../common.scss";

//==========PC==========//
.story-container {
  display: grid;
  overflow: hidden;
  .story-section1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      width: 100%;
      height: 100vh;
      position: absolute;

      &:nth-child(1) {
        z-index: 1;
        .zoomed {
          transform: scale(1.5);
        }
      }
      &:nth-child(2) {
        z-index: 2;
        width: 384px;
        height: 108px;
        position: absolute;
        top: calc(100% / 2);
        left: calc(100% / 2);
        transform: translate(-50%, -50%);
      }
    }
  }

  .story-section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    border: 1px solid #f00;

    .story-section2-text {
      display: flex;
      border: 1px solid #00f;
      width: 50vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      div {
        border: 1px solid #000;
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          width: 525px;
          height: 85px;
        }
      }
    }
    .story-section2-image {
      width: 50vw;
      height: 100vh;
      display: flex;

      position: absolute;
      top: 0;
      left: 50vw;
      div {
        width: 50vw;
        height: 100vh;
        img {
          width: 50vw;
          height: 100vh;
          object-fit: cover;
        }
      }
    }
  }

  .story-section3 {
    position: relative;
    img {
      object-fit: cover;
      width: 100vw;
      height: 770px;
    }
    .story-section3-text-hidden {
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      position: absolute;
      top: calc(100% / 2);
      left: calc(100% / 2);
      transform: translate(-50%, -50%);
      opacity: 0;
      &.active {
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: calc(100% / 2);
        left: calc(100% / 2);
        transform: translate(-50%, -50%);
        transition: all 0.8s;
        opacity: 1;
      }

      img {
        &:nth-child(1) {
          width: 34px;
          height: 52px;
        }
        &:nth-child(2) {
          width: 250px;
          height: 91px;
        }
      }
    }
  }
  .story-section4 {
    div {
      position: relative;
      width: 100vw;
      height: 620px;
      border: 1px solid #f00;
      img {
        position: absolute;
        width: 244px;
        height: 192px;
        top: calc(100% / 2);
        left: calc(100% / 2);
        transform: translate(-50%, -50%);
        opacity: 0;
        &.active {
          transition: all 0.8s;
          opacity: 1;
        }
      }
    }
  }
  .story-section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .story-section5-image {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 1080px;
      }
    }
    .story-section5-productpolicy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 130px 0;
      h2 {
        color: #1e1e1e;
        font-family: "Playfair Display";
        font-size: 36px;
      }
      .story-section5-logo {
        width: 814px;
        height: 132px;
        margin: 56px 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 25%);

        div {
          width: 100%;
          height: 132px;

          img {
            width: 80%;
            margin: 0 auto;
          }
          p {
            color: #a0a0a0;
            font-size: 16px;
            line-height: 1;
            padding-top: 10px;
          }
        }
      }
    }
  }

  .story-section6 {
    width: 100vw;

    border: 1px solid #00f;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .story-section6-mainimage {
      display: flex;
      justify-content: center;

      img {
        width: 1080px;
        margin: 200px auto;
      }
    }

    .story-section6-animalpolicy {
      width: 100vw;
      height: 522px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .story-section6-animalpolicy-title {
        position: relative;
        width: 100vw;
        height: 98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 140px;
        img {
          width: 164px;
          height: 49px;
          border: 1px solid #f00;
        }
      }
      .story-section6-animalpolicy-section {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
        align-items: center;
        width: 100%;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          // height: 700px;
          // width: 300px;

          img {
            position: absolute;

            top: 0;
            height: 327px;
          }

          span {
            position: absolute;
            top: 387px;
            position: 327px;
            margin-bottom: 100px;
            h4 {
              font-size: 27px;
              line-height: 1.1;
              text-align: center;
              font-family: "Playfair Display";
            }
            p {
              margin-top: 20px;
              text-align: center;
              font-size: 14px;
              color: #1e1e1e;
              font-family: "Noto Sans KR";
            }
          }
        }
      }
    }
  }
  .story-section7 {
    width: 100vw;
    height: 770px;
    border: 1px solid #f00;
    position: relative;
    display: flex;
    justify-content: center;
    div {
      width: 100vw;
      height: 770px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 80%;
      }
    }
    p {
      color: #fcfcf2;
      font-family: "Playfair Display";
      font-size: 35px;
      font-weight: 300;
      line-height: 1.15;
      text-align: center;
      position: absolute;
      bottom: 32px;
    }
  }
  .story-section8 {
    div {
      position: relative;
      width: 100vw;
      height: 325px;
      img {
        width: 288px;
        height: 109px;
        position: absolute;
        top: 68px;
        left: calc(50% - 288px / 2);
      }
    }
  }
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  .story-container {
    .story-section5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      .story-section5-image {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      .story-section5-productpolicy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 130px 0;
        h2 {
          color: #1e1e1e;
          font-family: "Playfair Display";
          font-size: 36px;
        }
        .story-section5-logo {
          width: 814px;
          height: 132px;
          margin: 56px 0 auto;
          display: grid;
          grid-template-columns: repeat(2, 50%);

          div {
            width: 80%;
            height: 132px;
            margin-bottom: 10px;

            img {
              width: 50%;
              margin: 0 auto;
            }
            p {
              color: #a0a0a0;
              font-size: 14px;
              line-height: 1;
              padding-top: 10px;
            }
          }
        }
      }
    }
    .story-section6 {
      width: 100vw;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .story-section6-mainimage {
        display: flex;
        justify-content: center;
        border: 1px solid #00f;
        img {
          width: 1080px;
          margin: 200px auto;
        }
      }

      .story-section6-animalpolicy {
        width: 100vw;
        height: 522px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .story-section6-animalpolicy-title {
          position: relative;
          width: 100vw;
          height: 98px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 140px;
          img {
            width: 164px;
            height: 49px;
            border: 1px solid #f00;
          }
        }
        .story-section6-animalpolicy-section {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          justify-content: center;
          align-items: center;
          width: 100%;

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            // height: 700px;
            // width: 300px;

            img {
              position: absolute;

              top: 0;
              height: 327px;
            }

            span {
              position: absolute;
              top: 387px;
              position: 327px;
              margin-bottom: 100px;
              h4 {
                font-size: 27px;
                line-height: 1.1;
                text-align: center;
                font-family: "Playfair Display";
              }
              p {
                margin-top: 20px;
                text-align: center;
                font-size: 14px;
                color: #1e1e1e;
                font-family: "Noto Sans KR";
              }
            }
          }
        }
      }
    }
    .story-section7 {
      width: 100vw;
      height: 600px;
      border: 1px solid #f00;
      position: relative;
      div {
        img {
          width: 100vw;
          height: 600px;
          object-fit: cover;
          object-position: 0 80%;
        }
      }
      h4 {
        color: #fcfcf2;
        font-family: "Playfair Display";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.15;
        text-align: center;
        position: absolute;
        bottom: 32px;
      }
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  .story-container {
    .story-section4 {
      div {
        position: relative;
        width: 100vw;
        height: 620px;
        border: 1px solid #f00;
        img {
          position: absolute;
          width: 244px;
          height: 192px;
          top: calc(100% / 2);
          left: calc(100% / 2);
          transform: translate(-50%, -50%);
          opacity: 0;
          &.active {
            transition: all 0.8s;
            opacity: 1;
          }
        }
      }
    }
    .story-section5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .story-section5-image {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      .story-section5-productpolicy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 130px 0;
        h2 {
          color: #1e1e1e;
          font-family: "Playfair Display";
          font-size: 36px;
        }
        .story-section5-logo {
          width: 100%;
          height: 132px;
          margin: 56px 0 auto;
          display: grid;
          grid-template-columns: repeat(2, 50%);

          div {
            width: 80%;
            height: 100px;
            margin-bottom: 10px;

            img {
              width: 50%;
              margin: 0 auto;
            }
            p {
              color: #a0a0a0;
              font-size: 14px;
              line-height: 1;
              padding-top: 10px;
            }
          }
        }
      }
    }
    .story-section6 {
      width: 100vw;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .story-section6-mainimage {
        display: flex;
        justify-content: center;
        border: 1px solid #00f;
        img {
          width: 1080px;
          margin: 200px auto;
        }
      }

      .story-section6-animalpolicy {
        width: 100vw;
        height: 522px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .story-section6-animalpolicy-title {
          position: relative;
          width: 100vw;
          height: 98px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 140px;
          img {
            width: 164px;
            height: 49px;
            border: 1px solid #f00;
          }
        }
        .story-section6-animalpolicy-section {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          justify-content: center;
          align-items: center;
          width: 100%;

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            // height: 700px;
            // width: 300px;

            img {
              position: absolute;

              top: 0;
              height: 327px;
            }

            span {
              position: absolute;
              top: 387px;
              position: 327px;
              margin-bottom: 100px;
              h4 {
                font-size: 27px;
                line-height: 1.1;
                text-align: center;
                font-family: "Playfair Display";
              }
              p {
                margin-top: 20px;
                text-align: center;
                font-size: 14px;
                color: #1e1e1e;
                font-family: "Noto Sans KR";
              }
            }
          }
        }
      }
    }
    .story-section7 {
      width: 100vw;
      height: 600px;
      border: 1px solid #f00;
      position: relative;

      div {
        img {
          width: 100vw;
          height: 600px;
          object-fit: cover;
          object-position: 0 80%;
        }
      }
      p {
        color: #fcfcf2;
        font-family: "Playfair Display";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.15;
        text-align: center;
        position: absolute;
        bottom: 32px;
      }
    }
  }
}
