@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font: normal 36px/1 "Playfair Display";
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font: normal 28px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font: normal 18px/1 "Futura PT";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
    line-height: 2.5rem;
  }
}

h4 {
  font: normal 14px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 33px;
    line-height: 2.5rem;
  }
}

h5 {
  font: normal 11px/1 "Noto Sans KR";
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

body {
  background: #fafaf6;
}

#header {
  width: 100%;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header #header_popup {
  width: 100%;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #83a2c1;
  color: #fff;
}
#header #header_popup img {
  width: 18px;
  height: 18px;
}
#header #header_popup img:nth-child(1) {
  opacity: 0;
}
#header #header_popup img:last-child {
  filter: invert(1);
}
#header #header_contents {
  width: 75%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#header #header_contents button {
  border: none;
  background: none;
}
#header #header_contents .header_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header #header_contents .header_menu div {
  width: 28px;
  height: 1px;
  background: #1e1e1e;
}
#header #header_contents .header_menu div:nth-child(2) {
  margin: 8px 0;
}
#header #header_contents .header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #header_contents .header_right img {
  width: 28px;
  height: 28px;
  margin: 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header #header_contents .header_right .header_menu_mobile {
  margin-left: 10px;
  display: none;
}
#header #header_contents .header_logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header #header_contents .header_logo img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #header #header_popup {
    height: 20px;
    font-size: 20px;
    padding: 20px;
  }
  #header #header_contents {
    width: 100%;
    min-width: 390px;
    height: 70px;
    border: 1px solid red;
    padding: 20px;
  }
  #header #header_contents .header_menu {
    display: none;
  }
  #header #header_contents .header_logo {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 64px;
    height: 64px;
  }
  #header #header_contents .header_logo img {
    width: 100%;
    height: 100%;
  }
  #header #header_contents .header_right img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  #header #header_contents .header_right .header_menu_mobile {
    display: block;
    margin-left: 15px;
  }
  #header #header_contents .header_right .header_menu_mobile div {
    height: 2px;
  }
}

#gnb {
  width: 100%;
  background: #f7f7ef;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gnb ul {
  justify-content: space-between;
}
#gnb .gnb_container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0ded9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#gnb .gnb_container li {
  font: normal 28px/1 "Playfair Display";
}
#gnb .gnb_container li:hover {
  text-decoration: underline;
}
#gnb .gnb_container li:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #gnb ul {
    justify-content: space-between;
  }
  #gnb .gnb_container {
    gap: 50px;
    height: 80px;
    justify-content: center;
    padding: 0 20px;
  }
  #gnb .gnb_container:nth-child(2) {
    height: auto;
    padding: 20px 40px;
    text-wrap: wrap;
  }
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  background: #fcfcf2;
  z-index: 99;
}
#menu .menu {
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  font: normal 32px/1 "Playfair Display";
  color: #1e1e1e;
  text-align: center;
  border: 1px solid #f00;
  overflow: hidden;
}
#menu .menu .menu_lf_cls {
  font: normal 11px "Futura PT";
  padding: 32px 38px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid #f00;
}
#menu .menu .menus_left {
  width: inherit;
  height: 577px;
  border: 1px solid #00f;
  padding-top: 75px;
}
#menu .menu .menus_left .menus_left > li {
  position: relative;
  padding: 0 0 15px;
  border: 1px solid #ff0;
  text-align: center;
}
#menu .menu .menus_left .drop_icon::before,
#menu .menu .menus_left .drop_icon::after {
  content: "";
  right: 10%;
  position: absolute;
  border-radius: 4px;
  background: #83a2c1;
  transition: ease 0.3s all;
}
#menu .menu .menus_left .drop_s::before,
#menu .menu .menus_left .drop_s::after {
  top: 18.5%;
}
#menu .menu .menus_left .drop_i::before,
#menu .menu .menus_left .drop_i::after {
  bottom: 25%;
}
#menu .menu .menus_left .drop_icon::before {
  width: 25px;
  height: 1px;
}
#menu .menu .menus_left .drop_icon::after {
  width: 25px;
  height: 1px;
}
#menu .menu .menus_left .drop_icon::before {
  transform: rotate(90deg);
}
#menu .menu .menus_left li a.menu_h2 {
  display: block;
  text-align: center;
  border-top: 1px solid #e0ded9;
  padding: 15px 0 0;
}
#menu .menu .menus_left > li {
  padding: 0 0 15px;
}
#menu .sub_menu {
  width: 400;
  height: 38px;
  font: normal 17px "Futura PT";
  text-align: center;
  padding-top: 16px;
  text-transform: uppercase;
  overflow: hidden;
}
#menu a:hover {
  color: #83a2c1;
}
#menu .side_menu_slogan {
  position: absolute;
  display: inline-block;
  width: 166px;
  bottom: 30px;
  left: calc(50% - 83px);
}
@media screen and (max-width: 768px) {
  #menu .menu {
    position: absolute;
    width: 100vw;
    top: 70px;
    height: calc(100vh - 70px);
    left: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    font: normal 32px/1 "Playfair Display";
    color: #1e1e1e;
    text-align: center;
    background: #fcfcf2;
    border: 1px solid #f00;
    overflow: hidden;
  }
  #menu .menu .menus_left {
    width: 100vw;
    height: 577px;
    border: 1px solid #00f;
    padding-top: 75px;
    text-align: center;
  }
  #menu .menu .menus_left .menus_left > li {
    width: 100vw;
    position: relative;
    padding: 0 0 15px;
    border: 1px solid #ff0;
    text-align: center;
  }
  #menu .menu .menus_left li a.menu_h2 {
    display: block;
    text-align: center;
    border-top: 1px solid #e0ded9;
    padding: 15px 0 0;
  }
  #menu .menu .menus_left > li {
    padding: 0 0 15px;
  }
  #menu .sub_menu {
    width: 100vw;
    height: 38px;
    font: normal 17px "Futura PT";
    text-align: center;
    padding-top: 16px;
    text-transform: uppercase;
    overflow: hidden;
  }
  #menu a:hover {
    color: #83a2c1;
  }
  #menu .side_menu_slogan {
    position: absolute;
    display: inline-block;
    width: 166px;
    bottom: 30px;
    left: calc(50% - 83px);
  }
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}

.wrap {
  width: 100%;
}
.wrap #container {
  width: 100%;
}
.wrap #container form {
  display: block;
}
.wrap #container table {
  width: 100%;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  color: #777;
  line-height: 1.5;
}
.wrap #container tbody {
  border: none;
}
.wrap #container caption {
  display: none;
}
.wrap #container colgroup {
  display: table-column-group;
}
.wrap #container col {
  display: table-column;
}
.wrap #container tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.wrap #container th {
  display: table-cell;
  border: none;
  margin: 0;
}
.wrap #container img {
  border: none;
  vertical-align: top;
}
.wrap #container input {
  font-size: 13px;
  color: #353535;
  vertical-align: middle;
  font-family: "Noto Sans KR", sans-serif;
}
.wrap #container input[type=checkbox] {
  width: 13px;
  height: 13px;
  border: none;
  display: none;
}
.wrap #container h3 {
  display: none;
}
.wrap #container .address_list .address_list table {
  border-top-color: #e0ded9;
}
.wrap #container .address_list thead th {
  padding: 11px 0 10px;
  border-left: 1px solid #e0ded9;
  border-bottom: 1px solid #e0ded9;
  color: #1e1e1e;
  vertical-align: middle;
  font-weight: normal;
  background: #f7f7ef;
  font-size: 13px;
}
.wrap #container .address_list .addbtn {
  font-weight: bold;
  padding: 12px;
  font-size: 1rem;
}
.wrap #container thead th:first-child {
  border-left: none;
}
.wrap #container .address_none {
  padding: 50px 0;
  text-align: center;
  font-size: 13px;
  color: #1e1e1e;
  border: none;
  border-top: 1px solid #e0ded9;
}
.wrap #container .adrs_btns {
  padding: 10px 0;
  text-align: center;
}
.wrap #container .adrs_btns .letf_btn {
  display: none;
  float: left;
  text-align: left;
}
.wrap #container .adrs_btns .right_btn {
  float: right;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
  .wrap thead .address_Mo {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 390px;
  }
  .wrap #container {
    width: 100%;
  }
  .wrap #container caption {
    display: none;
  }
  .wrap #container th {
    display: table-column;
  }
  .wrap #container h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .wrap #container .address_list {
    position: relative;
    margin: 14px 7px 0;
    padding: 0 0 29px;
  }
  .wrap #container .address_list h3 {
    padding: 0 14px;
    line-height: 43px;
    font-size: 12px;
    font-weight: bold;
    color: #fafaf6;
    background: #1e1e1e;
  }
  .wrap #container .address_list .address_addbtn {
    position: absolute;
    top: 7px;
    right: 14px;
    z-index: 10;
  }
  .wrap #container .address_list .address_addbtn a {
    color: #fafaf6;
    font-size: 11px;
    font-weight: bold;
  }
  .wrap #container thead {
    display: none;
  }
  .wrap #container .address_none {
    border: none;
  }
  .wrap #container .right_btn {
    display: none;
  }
}/*# sourceMappingURL=address.css.map */